.list {
  background-color: #fff;
  padding: 5px;
  width: 240px;
  border-radius: 5px;
  margin-bottom: 11px;
  list-style: none;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.icons {
  padding-left: 8px;
  cursor: pointer;
}

.done {
    text-decoration: line-through;
  }
  
  .unDone {
    text-decoration: none;
  }